<article class="article container content">
  {%- if article.image -%}
    <img src="{{ article.image | img_url: 'master' }}" class="mb-4">
  {%- endif -%}

  {% comment %}
    Title
  {% endcomment %}
  <h1 class="text-center mb-4">{{ article.title }}</h1>

  {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
  <p>{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}</p>

  <div class="rte">
    {{ article.content }}
  </div>

  {% if article.tags.size > 0 %}
    {% for tag in article.tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="btn badge badge-secondary px-2 py-1 rounded mr-2">
        {{ tag }}</a>{% unless forloop.last %} {% endunless %}
    {% endfor %}
  {% endif %}
</article>
