<article class="blog container content">
  {% comment %}
    Title
  {% endcomment %}
  <h1 class="h5 text-center mb-4">Blog</h1>

  {% comment %}
    Filter
  {% endcomment %}
  {% include 'blog-filter' %}

  {% comment %}
    Separator
  {% endcomment %}
  {% include 'separator' %}

  {% comment %}
    Subscription form
  {% endcomment %}
  <div class="row justify-content-center mb-5">
    <h6 class="col-md-12 text-center mb-2">
      Subscribe for more:
    </h6>
    <div class="col-md-5">
      {% include 'subscription-form' %}
    </div>
  </div>

  {% comment %}
    Posts
  {% endcomment %}
  {% include 'blog-post',
    blog_post_title: 'Meet our Model',
    blog_post_author: 'Jess Lee Buchanan',
    blog_post_date: 'Jul 05, 2018',
    blog_post_description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus augue congue nibh condimentum posuere. Etiam et aliquet elit. Nullam condimentum nulla at metus vulputate suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin et augue id leo iaculis posuere.'
  %}
  {% include 'blog-post',
    blog_post_title: 'Meet our Model',
    blog_post_author: 'Jess Lee Buchanan',
    blog_post_date: 'Jul 05, 2018',
    blog_post_description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus augue congue nibh condimentum posuere. Etiam et aliquet elit. Nullam condimentum nulla at metus vulputate suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin et augue id leo iaculis posuere.'
  %}
  {% include 'blog-post',
    blog_post_title: 'Meet our Model',
    blog_post_author: 'Jess Lee Buchanan',
    blog_post_date: 'Jul 05, 2018',
    blog_post_description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus augue congue nibh condimentum posuere. Etiam et aliquet elit. Nullam condimentum nulla at metus vulputate suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin et augue id leo iaculis posuere.'
  %}

</article>
