{% comment %}
  Sitcky quick buy
{% include 'quick-buy' %}
{% endcomment %}

<script>
  window.slateplus = window.slateplus || {};
  window.slateplus.activeItem = {{ product | json }};
</script>

<article class="product container content">

  {% comment %}
  <div id="product-root"></div>
  {% endcomment %}
  {% include 'back-link' with page_name: 'somewhere' %}
  <section class="row">

    {% comment %}
      Product pictures
    {% endcomment %}
    <div class="col-lg-7 col-md-12">
      <div class="row">
        {%- if product.images.size > 1 -%}
          {% comment %}
            Thumbnail pictures
          {% endcomment %}
          <div class="col-md-3 pb-2">
            {%- for image in product.images -%}
              <a href="#">
                <img src="{{ image | img_url: '160x200' }}" alt="{{ product.title }}" class="img-fluid mb-4">
              </a>
            {%- endfor -%}
          </div>
        {%- endif -%}

        {% comment %}
          Main picture
        {% endcomment %}
        <div class="{% if product.images.size > 1 %}col-md-9{% else %}col-md-12{% endif %} pb-4">
          <a href="#">
            <img src="{{ product.featured_image | default: product.images.first | img_url: '490x695' }}" alt="{{ product.title }}" class="img-fluid">
          </a>
        </div>
      </div>
    </div>

    {% comment %}
      Product item
    {% endcomment %}
    <div class="col-lg-5 col-md-12">

      {% comment %}
        Product title
      {% endcomment %}
      <h1 class="mb-4 h2">{{ product.title }}</h1>

      {% comment %}
        Price
      {% endcomment %}
      <div class="mb-5">
        <h4 class="mb-3">{{ product.price | money_with_currency }}</h4>
        <span>
          or make 4 interest-free payments of $40.00 AUD fortnightly with afterpay
          <a href="#">more info</a>
        </span>
      </div>

      <select name="id" class="d-none">
        {% for variant in product.variants %}
          <option {% if variant == current_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      {% section "product_options" %}

      {% comment %}
        Warning
      {% endcomment %}
      <div class="mb-5">
        <span class="small bg-warning text-white p-2">
          Low in stock, get it quick!
        </span>
      </div>

      {% comment %}
        Add to Cart
      {% endcomment %}
      <div class="mb-5">
        <div class="input-group">
          <div class="row" id="add-to-cart-btn"></div>
        </div>
        <div>
          <i class="fas fa-truck mr-2"></i>
          Free Shipping within Australia
        </div>
      </div>

      {% comment %}
        Short description
      {% endcomment %}
      <div class="mb-4">{{ product.description }}</div>

      {% comment %}
        More
      {% endcomment %}
      <span class="mb-5">
        <div class="dropdown">
          <button class="btn btn-sm bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More info
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
          </div>
        </div>
      </span>

    </div>
  </section>
</article>
