<article class="search content container">
  {% paginate search.results by 10 %}

    {% comment %}
      Title
    {% endcomment %}
    <h1 class="text-center mb-4">
      {% if search.performed %}
        {{ search.results_count }} {{ search.results_count | pluralize: 'result', 'results' }} for "{{ search.terms }}"
      {% else %}
        Search
      {% endif %}
    </h1>

    <div class="text-center mb-4">
      <form action="/search" method="get" role="search">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ search.terms }}">
        <button type="submit" class="button">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    {% if search.performed %}
      {% if search.results_count == 0 %}
        <p>No results</p>
      {% else %}
        <div class="row">
          {% for item in search.results %}
            {% include 'search_tile' with item.object_type %}
          {% endfor %}
        </div>
        
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endif %}
    {% endif %}

  {% endpaginate %}
</article>
