<a class="btn" href="/account"><i class="fas fa-user"></i></a>
<a class="btn" href="#"><i class="fas fa-heart"></i></a>
<div id="cart-btn">
  <a class="btn" href="/cart">
    <i class="fas fa-shopping-cart"></i>
    <span class="ml-1">{{ cart.item_count }}</span>
  </a>
</div>
