<div class="d-flex justify-content-center mb-4">
  <button type="button" class="btn btn-filter active btn-sm mr-2">Alpha</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Beta</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Gamma</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Delta</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Epsilon</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Zeta</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Eta</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Theta</button>
  <button type="button" class="btn btn-filter btn-sm mr-2">Iota</button>
</div>
