<ul class="nav pt-2 pb-2">
  {%- for link in linklists.main-menu.links -%}
    <li class="nav-item">
      <a class="nav-link" href="{{ link.url }}">
        <span class="font-weight-bold">{{ link.title }}</span>
        <i class="fas fa-angle-down ml-1"></i>
      </a>
    </li>
  {%- endfor -%}
</ul>
