{%- for value in option.values -%}
  <input type="radio" name="{{ option.name }}" id="{{ option.name }}:{{ value }}" value="{{ value }}" {%- if option.selected_value == value -%}checked{%- endif -%}">
  <label for="{{ option.name }}:{{ value }}">{{ value }}</label>
{%- endfor -%}