{%- for value in option.values -%}
  <input type="radio" name="{{ option.name }}" class="swatch-{{ value | handleize }}" id="{{ option.name }}:{{ value }}" value="{{ value }}" {%- if option.selected_value == value -%}checked{%- endif -%}">
{%- endfor -%}