<div class="quick-buy fixed-top container-fluid d-none d-sm-inline">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a href="https://placeholder.com" class="m-2 d-none d-md-block"><img class="img-fluid" src="https://via.placeholder.com/64x80"></a>
        <h5 class="m-2 h6-sm">Product title</h5>
        <h5 class="m-2">100$</h5>
      </div>

      <div class="d-flex align-items-center">
        <h5 class="m-2">QTY</h5>
        <input class="qty m-2 form-control" name="quantity" type="number" min="1" value="1">
        <button class="m-2 btn btn-light pl-lg-5 pr-lg-5" type="submit">
          <i class="fas fa-cart-plus"></i>
          <span class="d-none d-lg-inline ml-2">Add to bag</span>
        </button>
      </div>
    </div>
  </div>
</div>
