<form name="search" action="/search" class="input-group input-group-sm">
  <div class="input-group-append">
    <span class="input-group-text bg-transparent border-0">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <input class="form-control border-0" type="search" name="q" placeholder="search">
</form>
