<div class="col-md-3 col-sm-4 col-xs-6 text-center">
  <a href="{{ item.url | within: collection }}">
    {% assign featured_image = item.image | default: item.featured_image | default: settings.search_default_image %}
    {%- if featured_image != blank -%}
      {{ featured_image | img_url: '240x240' | img_tag }}
    {%- endif -%}
    <h3>{{ item.title }}</h3>
    {%- case search_tile -%}
      {%- when 'product' -%}
        <p>
          {%- if item.price_varies -%}
            From <span>{{ item.price | money }}</span>
          {%- else -%}
            <span>{{ item.price | money }}</span>
            {%- if item.compare_at_price > item.price -%}
              <s>{{ item.compare_at_price | money }}</s>
            {%- endif -%}
          {%- endif -%}
        </p>
      {%- when 'article' -%}
        <p>{{ item.excerpt | default: item.content | strip_html | truncate: 100 }}</p>
      {%- when 'page' -%}
        <p>{{ item.excerpt | default: item.content | strip_html | truncate: 100 }}</p>
    {%- endcase -%}
  </a>
</div>
