<div class="input-group mb-3">
  <input type="text" class="form-control bg-light border-0" placeholder="Email address">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-chevron-right text-white pl-1 pr-1"></i>
    </button>
  </div>
</div>
