/*** Variables ***/

/*** Placeholder classes ***/

/*
* Root of the component
* Every selector goes inside of it
*/
.quick-buy {
  background: $primary;

  h5 {
    color: white;
    font-size: 0.75rem;
  }

  .qty {
    min-width: 3rem;
  }

  @include media-breakpoint-up(md) {
    h5 {
      font-size: 1.25rem;
    }
  }
}
