<article class="account container content">

    {% comment %}
      Title and Log out text
    {% endcomment %}
    <div class="text-center mb-4">
      <h1>{{ 'customer.account.title' | t }}</h1>
      <p>{{ 'layout.customer.log_out' | t | customer_logout_link }}</p>
    </div>

    <div class="row">

      {% comment %}
        Orders history
      {% endcomment %}
      <section class="col-md-8 mb-2">

          {% comment %}
            Title
          {% endcomment %}
          <h2 class="h3 mb-3">{{ 'customer.orders.title' | t }}</h2>

          {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}
              <div class="table-responsive-sm">
                <table class="table table-bordered">
                  <thead class="thead-light">
                    <tr>
                      <th>{{ 'customer.orders.order_number' | t }}</th>
                      <th>{{ 'customer.orders.date' | t }}</th>
                      <th>{{ 'customer.orders.payment_status' | t }}</th>
                      <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th>{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                      <tr>
                        <td data-label="{{ 'customer.orders.order_number' | t }}" class="text-center">
                          {% case order.fulfillment_status %}
                            {% when 'fulfilled' %}
                              {%- assign fulfillment_status = 'btn-outline-success' -%}
                            {% when 'null' %}
                              {%- assign fulfillment_status = 'btn-outline-danger' -%}
                            {% when 'partial' %}
                              {%- assign fulfillment_status = 'btn-outline-warning' -%}
                            {% when 'unfulfilled' %}
                              {%- assign fulfillment_status = 'btn-outline-info' -%}
                            {% else %}
                              {%- assign fulfillment_status = 'btn-outline-info' -%}
                          {% endcase %}

                          <a href="{{ order.customer_url }}" class="btn {{ fulfillment_status }} btn-sm">{{ order.name }}</a>
                        </td>
                        <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                        <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                        <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                        <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>

            {% else %}

              <p>{{ 'customer.orders.none' | t }}</p>

            {% endif %}
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          {% endpaginate %}
        </section>

        {% comment %}
          Account details
        {% endcomment %}
        <section class="col-md-4 mb-2">

          {% comment %}
            Title
          {% endcomment %}
          <h2 class="h3 mb-3">{{ 'customer.account.details' | t }}</h2>

          <div class="card bg-light">
            <div class="card-body">
              {{ customer.default_address | format_address }}

              <div class="text-center">
                <a href="/account/addresses" class="btn btn-sm btn-outline-primary">
                  {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>

</article>
