<article class="activate-account container content">
  <div class="row justify-content-center">

    <div class="col-md-6">

    {% comment %}
      Login form
    {% endcomment %}
    <section class="mb-2">

      {% comment %}
        Title
      {% endcomment %}
      <div class="text-center mb-4">
        <h1 class="h2">{{ 'customer.activate_account.title' | t }}</h1>
        <p>{{ 'customer.activate_account.subtext' | t }}</p>
      </div>

      {% form 'activate_customer_password' %}

        {% comment %}
          Validation errors
        {% endcomment %}
        {%- if form.errors -%}
          <div class="card bg-danger mb-2 p-3">
            <div class="card-block text-white">
              {{ form.errors | default_errors }}
            </div>
          </div>
        {%- endif -%}

        {% comment %}
          Password
        {% endcomment %}
        <div class="form-group">
          <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword"
            class="form-control">
        </div>

        {% comment %}
          Password confirmation
        {% endcomment %}
        <div class="form-group">
          <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation"
              class="form-control">
        </div>

        {% comment %}
          Submit
        {% endcomment %}
        <div class="text-center">
          <input type="submit" class="btn btn-lg btn-primary pl-5 pr-5 mt-3" value="{{ 'customer.activate_account.submit' | t }}">
        </div>

        {% comment %}
          Cancel
        {% endcomment %}
        <div class="text-center">
          <input type="submit" class="btn btn btn-outline-primary pl-5 pr-5 mt-3" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
        </div>
      {% endform %}

      </section>
    </div>
  </div>
</article>
