{% comment %}
  TODO: Fix auto  script loading
{% endcomment %}
{{ 'addresses.template.js' | asset_url | script_tag }}

<article class="addresses container content">
  {% paginate customer.addresses by 5 %}

  {% comment %}
    Title
  {% endcomment %}
  <h1 class="text-center mb-5" id="Header">{{ 'customer.addresses.title' | t }}</h1>

  {% comment %}
    Add address form, hidden by default
  {% endcomment %}
  <section id="AddressNewForm" class="row justify-content-center d-none">
    <div class="col-md-8">
      {% form 'customer_address', customer.new_address %}

        {% comment %}
          Title
        {% endcomment %}
        <h2 class="text-center mb-4">{{ 'customer.addresses.add_new' | t }}</h2>

        {% comment %}
          Name
        {% endcomment %}
        <div class="row">
          <div class="form-group col-md-6">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}"
              class="form-control">
          </div>

          <div class="form-group col-md-6">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}"
              class="form-control">
          </div>
        </div>

        {% comment %}
          Company
        {% endcomment %}
        <div class="form-group">
          <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}"
            class="form-control">
        </div>

        {% comment %}
          Address1
        {% endcomment %}
        <div class="form-group">
          <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
          <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}"
            class="form-control">
        </div>

        {% comment %}
          Address 2
        {% endcomment %}
        <div class="form-group">
          <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}"
            class="form-control">
        </div>

        <div class="row">

          {% comment %}
            City
          {% endcomment %}
          <div class="form-group col-md-6">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}"
              class="form-control">
          </div>

          {% comment %}
            Country
          {% endcomment %}
          <div class="form-group col-md-6">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}"
              class="custom-select">{{ all_country_option_tags }}</select>
          </div>

        </div>

        {% comment %}
          Province
        {% endcomment %}
        <div class="form-group d-none" id="AddressProvinceContainerNew">
          <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
          <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"
            class="custom-select"></select>
        </div>

        {% comment %}
          Zip
        {% endcomment %}
        <div class="form-group">
          <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
          <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters"
            class="form-control">
        </div>

        {% comment %}
          Phone
        {% endcomment %}
        <div class="form-group">
          <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
          <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}"
            class="form-control">
        </div>

        {% comment %}
          Set as default address
        {% endcomment %}
        <label class="check">
          {{ 'customer.addresses.set_default' | t }}
          {{ form.set_as_default_checkbox }}
          <span class="checkmark"></span>
        </label>

        {% comment %}
          Submit
        {% endcomment %}
        <div class="text-center">
          <input type="submit" class="btn btn-lg btn-primary pl-5 pr-5 mt-3" value="{{ 'customer.addresses.add' | t }}">
        </div>

        {% comment %}
          Cancel
        {% endcomment %}
        <div class="text-center">
          <button type="button" id="HideAddNewAddressForm"
            class="btn btn btn-outline-primary pl-5 pr-5 mt-3">{{ 'customer.addresses.cancel' | t }}</button>
        </div>
      {% endform %}

    </div>
  </section>

  <section class="row justify-content-center" id="AddressCards">

    {% comment %}
      List all customer addresses with a unique edit form.
      Also add pagination in case they have a large number of addresses
    {% endcomment %}
    {% for address in customer.addresses %}

      {% comment %}
        Address card
      {% endcomment %}
      <div class="card bg-light col-md-4 m-2 m-2 oh">
        {% if address == customer.default_address %}
          <div class="tape-badge">{{ 'customer.addresses.default' | t }}</div>
        {% endif %}

        <div class="card-body d-flex justify-content-between flex-column">
          {{ address | format_address }}
          <div>
            <button type="button" class="btn btn-outline-primary btn-sm btn-block edit" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</button>
            <button type="button" class="btn btn-outline-danger btn-sm btn-block" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</button>
          </div>
        </div>
      </div>

      {% comment %}
        Edit form
      {% endcomment %}
      <div id="EditAddress_{{ address.id }}" class="col-md-8 d-none">
        {% form 'customer_address', address %}

          {% comment %}
            Title
          {% endcomment %}
          <h4 class="h2 text-center mb-4">{{ 'customer.addresses.edit_address' | t }}</h4>

          {% comment %}
            Name
          {% endcomment %}
          <div class="row">
            <div class="form-group col-md-6">
              <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}"
                class="form-control">
            </div>

            <div class="form-group col-md-6">
              <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}"
                class="form-control">
            </div>
          </div>

          {% comment %}
            Company
          {% endcomment %}
          <div class="form-group">
            <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}"
              class="form-control">
          </div>

          {% comment %}
            Address1
          {% endcomment %}
          <div class="form-group">
            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}"
              class="form-control">
          </div>

          {% comment %}
            Address 2
          {% endcomment %}
          <div class="form-group">
            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}"
              class="form-control">
          </div>

          <div class="row">

            {% comment %}
              City
            {% endcomment %}
            <div class="form-group col-md-6">
              <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
              <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}"
                class="form-control">
            </div>

            {% comment %}
              Country
            {% endcomment %}
            <div class="form-group col-md-6">
              <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountry_{{ form.id }}" data-form-id="{{ form.id }}"
                class="custom-select" name="address[country]" data-default="{{ form.country }}">{{ all_country_option_tags }}</select>
            </div>

          </div>

          {% comment %}
            Province
          {% endcomment %}
          <div class="form-group d-none" id="AddressProvinceContainer_{{ form.id }}">
            <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
            <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"
              class="custom-select"></select>
          </div>

          {% comment %}
            Zip
          {% endcomment %}
          <div class="form-group">
            <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters"
              class="form-control">
          </div>

          {% comment %}
            Phone
          {% endcomment %}
          <div class="form-group">
            <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}"
              class="form-control">
          </div>

          {% comment %}
            Set as default address
          {% endcomment %}
          <label class="check">
            {{ 'customer.addresses.set_default' | t }}
            {{ form.set_as_default_checkbox }}
            <span class="checkmark"></span>
          </label>

          {% comment %}
            Submit
          {% endcomment %}
          <div class="text-center">
            <input type="submit" class="btn btn-lg btn-primary pl-5 pr-5 mt-3"  value="{{ 'customer.addresses.update' | t }}">
          </div>

          {% comment %}
            Cancel
          {% endcomment %}
          <div class="text-center">
            <button type="button" class="btn btn btn-outline-primary pl-5 pr-5 mt-3 edit-cancel" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
          </div>

        {% endform %}
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </section>

  <div id="FooterButtons" class="text-center mt-3">
    <p class="mb-4">
      <button id="AddNewAddress" type="button" class="btn btn-primary">{{ 'customer.addresses.add_new' | t }}</button>
    </p>
    <p>
      <a href="/account">{{ 'customer.account.return' | t }}</a>
    </p>
  </div>

  {% endpaginate %}
</article>
