<article class="login container content">
  <div class="row justify-content-center">

    <div class="col-md-6">

      {% comment %}
        Recover password info text
      {% endcomment %}
      <div class="card bg-light mb-3 p-3 d-none" id="ResetSuccess">
        <div class="card-block">
          {{ 'customer.recover_password.success' | t }}
        </div>
      </div>

      {% comment %}
        Login form
      {% endcomment %}
      <section id="CustomerLoginForm" class="mb-2">
        {% form 'customer_login' %}

          {% comment %}
            Title
          {% endcomment %}
          <h1 class="text-center mb-4">{{ 'customer.login.title' | t }}</h1>

          {% comment %}
            Validation errors
          {% endcomment %}
          {%- if form.errors -%}
            <div class="card bg-danger mb-2 p-3">
              <div class="card-block text-white">
                {{ form.errors | default_errors }}
              </div>
            </div>
          {%- endif -%}

          {% comment %}
            User e-mail
          {% endcomment %}
          <div class="form-group">
            <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
            <input type="email" name="customer[email]" id="CustomerEmail"
              class="form-control {% if form.errors contains 'email' %} text-danger {% endif %}"
              autocorrect="off" autocapitalize="off" autofocus>
          </div>

          {% comment %}
            User password
          {% endcomment %}
          {% if form.password_needed %}
          <div class="form-group">
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword"
              class="form-control {% if form.errors contains 'password' %} text-danger {% endif %}">
          </div>
          {% endif %}

          <div class="text-center">

            {% comment %}
              Password reset
            {% endcomment %}
            {% if form.password_needed %}
              <p>
                <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
              </p>
            {% endif %}

            {% comment %}
              Sign in
            {% endcomment %}
            <input type="submit" class="btn btn-lg btn-primary pl-5 pr-5 mt-3" value="{{ 'customer.login.sign_in' | t }}">

            {% comment %}
              Create account link
            {% endcomment %}
            <p class="mt-3">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </p>
          </div>

        {% endform %}
      </section>

      {% comment %}
        Recover password form
      {% endcomment %}
      <section id="RecoverPasswordForm" class="mb-2 d-none">

        {% comment %}
          Title and info text
        {% endcomment %}
        <div class="text-center mb-4">
          <h2>{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        {% form 'recover_customer_password' %}

          {% comment %}
            Validation errors
          {% endcomment %}
          {%- if form.errors -%}
            <div class="card bg-danger mb-2 p-3">
              <div class="card-block text-white">
                {{ form.errors | default_errors }}
              </div>
            </div>
          {%- endif -%}

          {% comment %}
            Add a hidden span to indicate the form was submitted succesfully.
          {% endcomment %}
          {% if form.posted_successfully? %}
            <span class="d-none reset-password-success"></span>
          {% endif %}

          {% comment %}
            User e-mail
          {% endcomment %}
          <div class="form-group">
            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" name="email" id="RecoverEmail"
              class="form-control" autocorrect="off" autocapitalize="off">
          </div>

          {% comment %}
            Submit
          {% endcomment %}
          <div class="text-center">
            <input type="submit" class="btn btn-lg btn-primary pl-5 pr-5 mt-3" value="{{ 'customer.recover_password.submit' | t }}">
          </div>

          {% comment %}
            Cancel
          {% endcomment %}
          <div class="text-center">
            <button type="button" id="HideRecoverPasswordLink" class="btn btn btn-outline-primary pl-5 pr-5 mt-3">{{ 'customer.recover_password.cancel' | t }}</button>
          </div>
        {% endform %}
      </section>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div class="text-center mb-4">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn btn-lg btn-primary pl-5 pr-5 mt-3" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}

    </div>
  </div>
</article>
