<article class="register container content">
  <div class="row justify-content-center">

    <div class="col-md-6">

      {% comment %}
        Register form
      {% endcomment %}
      <section class="mb-2">
        {% form 'create_customer' %}

          {% comment %}
            Title
          {% endcomment %}
          <h1 class="text-center mb-4">{{ 'customer.register.title' | t }}</h1>

          {% comment %}
            Validation errors
          {% endcomment %}
          {%- if form.errors -%}
            <div class="card bg-danger mb-2 p-3">
              <div class="card-block text-white">
                {{ form.errors | default_errors }}
              </div>
            </div>
          {%- endif -%}

          {% comment %}
            First name
          {% endcomment %}
          <div class="form-group">
            <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="FirstName"
              class="form-control"
              {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>
          </div>

          {% comment %}
            Last name
          {% endcomment %}
          <div class="form-group">
            <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="LastName"
              class="form-control"
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
          </div>

          {% comment %}
            Email
          {% endcomment %}
          <div class="form-group">
            <label for="Email">{{ 'customer.register.email' | t }}</label>
            <input type="email" name="customer[email]" id="Email"
              class="form-control {% if form.errors contains 'email' %} text-danger {% endif %}"
              {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
          </div>

          {% comment %}
            Password
          {% endcomment %}
          <div class="form-group">
            <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
            <input type="password" name="customer[password]" id="CreatePassword"
              class="form-control {% if form.errors contains 'password' %} text-danger {% endif %}">
          </div>

          {% comment %}
            Submit
          {% endcomment %}
          <div class="text-center">
            <input type="submit" value="{{ 'customer.register.submit' | t }}"
              class="btn btn-lg btn-primary pl-5 pr-5 mt-3">
          </div>

        {% endform %}
      </div>

    </div>
  </div>
</article>
