<article class="reset-password container content">
  <div class="row justify-content-center">

    <div class="col-md-6">

      {% comment %}
        Login form
      {% endcomment %}
      <section class="mb-2">
        {% form 'reset_customer_password' %}

          {% comment %}
            Title
          {% endcomment %}
          <div class="text-center mb-4">
            <h2>{{ 'customer.reset_password.title' | t }}</h2>
            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
          </div>

          {% comment %}
            Validation errors
          {% endcomment %}
          {%- if form.errors -%}
            <div class="card bg-danger mb-2 p-3">
              <div class="card-block text-white">
                {{ form.errors | default_errors }}
              </div>
            </div>
          {%- endif -%}

          {% comment %}
            Password
          {% endcomment %}
          <div class="form-group">
            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword"
              class="form-control {% if form.errors contains 'password' %} text-danger {% endif %}">
          </div>

          {% comment %}
            Password confirmation
          {% endcomment %}
          <div class="form-group">
            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation"
              class="form-control {% if form.errors contains 'password_confirmation' %} text-danger {% endif %}">
          </div>

          {% comment %}
            Submit
          {% endcomment %}
          <div class="text-center">
            <button type="button" class="btn btn btn-primary pl-5 pr-5 mt-3">{{ 'customer.reset_password.submit' | t }}</button>
          </div>

        {% endform %}
      </section>

    </div>
  </div>
</article>
