{%- assign blog = blogs[section.settings.blog] -%}

<div class="container py-4">
  <div class="row">
  {% if blog != empty and blog.articles_count > 0 %}
    {% for article in blog.articles limit: section.settings.article_limit %}
    <div class="col-md-3 col-6 text-center my-3">
      <article class="d-flex flex-column h-100">

        {% comment %}
          Article image
        {% endcomment %}
        {% if section.settings.show_image %}
        <a href="{{ article.url }}">
          {{ article.image | img_url: '240x240' | img_tag: 'article image', 'img-fluid mb-2' }}
        </a>
        {% endif %}

        <div class="d-flex flex-column justify-content-between flex-grow-1">
          {% comment %}
            Article title
          {% endcomment %}
          <h3 class="h5 my-3">
            {{ article.title | escape | link_to: article.url }}
          </h3>

          {% comment %}
            Article meta
          {% endcomment %}
          {% if section.settings.show_publish_date %}
            <p class="mb-2"><small>{{ article.created_at | date: "%b %d, %Y" }}</small></p>
          {% endif %}
          {% if section.settings.show_author %}
            <p class="mb-2"><small>{{ article.author }}</small></p>
          {% endif %}

          {% comment %}
            Article excerpt
          {% endcomment %}
          <div class="">
            {% if section.settings.show_excerpt %}
              <p class="mb-2">{{ article.excerpt_or_content | strip_html | truncatewords: 24 }}</p>
            {% endif %}
          </div>

          {% comment %}
            Article link
          {% endcomment %}
          {% if section.settings.show_article_link %}
            <a href="{{ article.url }}">Read more</a>
          {% endif %}
        </div>

      </article>
    </div>
    {% endfor %}

  {% endif %}
  </div>
</div>

{% comment %}
  Schema
{% endcomment %}
{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section section-featured-blog",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "article_limit",
        "label": "Posts",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "show_publish_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_comment_count",
        "label": "Show comment count",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "label": "Show cover image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_excerpt",
        "label": "Show excerpt",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_article_link",
        "label": "Show article link",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{% endschema %}
