<div class="container py-4">
  <h3 class="h4 text-center mb-4">{{ section.settings.title }}</h3>
  {% if collections.length > 1 %}
  <ul class="nav nav-pills d-flex justify-content-center border-0 mb-3" id="featured-products" role="tablist">
    {% for collection in collections limit: section.settings.collections_limit %}
    {% assign nav_id = collection.title | handleize | prepend: 'pills-' | append: '-tab' %}
    {% assign nav_href = collection.title | handleize | prepend: '#pills-' %}
    {% assign nav_controls = collection.title | handleize | prepend: 'pills-' %}
    <li class="nav-item">
      <a class="nav-link {% if forloop.first == true %}active{% endif %}" id="{{ nav_id }}"
         data-toggle="tab" href="{{ nav_href }}" role="tab"
         aria-controls="{{ nav_controls }}"
         {% if forloop.first == true %} aria-selected="true" {% else %} aria-selected="false" {% endif %}>
        {{ collection.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="tab-content" id="featured-products-content">
    {% for collection in collections %}
    {% assign tab_id = collection.title | handleize | prepend: 'pills-' %}
    {% assign tab_labelledby = collection.title | handleize | prepend: 'pills-' | append: '-tab' %}
    <div class="tab-pane fade {% if forloop.first == true %}show active{% endif %}"
         id="{{ tab_id }}" role="tabpanel" aria-labelledby="{{ tab_labelledby }}">
        <div class="row justify-content-center">
        {% for product in collection.products limit: section.settings.products_limit %}
          {% include 'product_tile' with product.object_type %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% schema %}
{
  "name": "Fetured Products",
  "class": "featured-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Products Limit",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "collections_limit",
      "label": "Collections Limit",
      "options": [
        {
          "value": "1",
          "label": "1 collection"
        },
        {
          "value": "2",
          "label": "2 collections"
        }
      ],
      "default": "2"
    }
  ],
  "presets": [
    {
      "name": "Featured products",
      "category": "Products"
    }
  ]
}
{% endschema %}
