<footer>
  <div class="container pt-4 pb-4">
    <div class="row">

      {% for block in section.blocks %}
        {%- assign mobile_column_width = 'col' -%}
        {%- assign tablet_column_width = 'col-sm' -%}
        {%- assign desktop_column_width = 'col-lg' -%}

        {% if block.settings.mobile_column_width != 0 %}
          {%- assign mobile_column_width = 'col-' | append: block.settings.mobile_column_width -%}
        {% endif %}

        {% if block.settings.tablet_column_width != 0 %}
          {%- assign tablet_column_width = 'col-sm-' | append: block.settings.tablet_column_width -%}
        {% endif %}

        {% if block.settings.desktop_column_width != 0 %}
          {%- assign desktop_column_width = 'col-lg-' | append: block.settings.desktop_column_width -%}
        {% endif %}

        <section class="pt-2 pb-2 {{ mobile_column_width }} {{ tablet_column_width }} {{ desktop_column_width }}">
          {%- assign block_snippet = 'block-' | append: block.type -%}

          {% if block.settings.title != blank %}
            <h5 class="pb-3">{{ block.settings.title }}</h5>
          {% endif %}

          {% include block_snippet %}
        </section>
      {% endfor %}

  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "class": "footer-section",
    "blocks": [
      {
        "type": "navigation",
        "name": "Navigation",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Links"
          },
          {
            "id": "menu",
            "type": "link_list",
            "label": "Menu",
            "default": "main-menu"
          },
          {
            "id": "levels",
            "type": "select",
            "label": "Number of levels",
            "options": [
              {"value": "1", "label": "1"},
              {"value": "2", "label": "2"},
              {"value": "3", "label": "3"}
            ],
            "default": "1"
          },
          {
            "type": "range",
            "id": "mobile_column_width",
            "min": 0,
            "max": 12,
            "step": 1,
            "unit": "u",
            "label": "Mobile column width (0 auto)",
            "default": 0
          },
          {
            "type": "range",
            "id": "tablet_column_width",
            "min": 0,
            "max": 12,
            "step": 1,
            "unit": "u",
            "label": "Tablet column width (0 auto)",
            "default": 0
          },
          {
            "type": "range",
            "id": "desktop_column_width",
            "min": 0,
            "max": 12,
            "step": 1,
            "unit": "u",
            "label": "Desktop column width (0 auto)",
            "default": 0
          }
        ]
      },
      {
        "type": "social-icons",
        "name": "Social icons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "range",
            "id": "icon_size",
            "label": "Icon size",
            "min": 1,
            "max": 10,
            "step": 1,
            "unit": "x",
            "default": 2
          }
        ]
      }
    ],
    "max_blocks": 16
  }
{% endschema %}
