<header>
  {%- if section.settings.show_announcement -%}
    {% include 'announcement-bar' %}
  {%- endif -%}
  <div class="container">
    <div class="row justify-content-between align-self-center pt-2 pb-2">
      <div class="search col-12 col-md-4 align-self-center">
        {% include 'search-bar' %}
      </div>
      <div class="account col-12 col-md-8 d-flex justify-content-md-end justify-content-center">
        {% include 'account-bar' %}
      </div>
    </div>
    {% include 'logo' %}
    {% include 'nav-bar' %}
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "header",
  "settings": [
    {
      "type": "header",
      "content": "Announcement Bar"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_announcement_index_only",
      "label": "Home page only"
    },
    {
      "id": "announcement_text",
      "type": "text",
      "label": "Text",
      "default": "Announcement Text"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Link"
    }
  ]
}
{% endschema %}
