{%- for option in product.options_with_values -%}
  {%- unless option.values.first == "Default Title" -%}
    <div class="mb-5">
      <h5>{{ option.name }}:</h5>
      <div class="mb-1">
        {% assign option_configured = false %}
        {% for block in section.blocks %}
          {% if block.settings.title == option.name %}
            {% assign option_configured = true %}
            {% case block.type %}
              {% when 'dropdown' %}
                {% include 'product_option_dropdown' %}
              {% when 'radios' %}
                {% include 'product_option_radios' %}
              {% when 'swatches' %}
                {% include 'product_option_swatches' %}
            {% endcase %}
          {% endif %}
        {% endfor %}
        {% unless option_configured %}
          {%- for value in option.values -%}
            {% if option.selected_value == value %}
              <script>
                window.slateplus = window.slateplus || {};
                window.slateplus['{{ option.name }}'] = '{{ value }}';
              </script>
            {% endif %}
            <span class="size-box btn {% if option.selected_value == value %}active{% endif %}" onclick="changeOption(event, '{{ option.name }}')">{{ value }}</span>
          {%- endfor -%}
        {% endunless %}
      </div>
      <p>
        <a href="#">size guide</a>
        <a href="#">out of stock?</a>
      </p>
    </div>
  {%- endunless -%}
{%- endfor -%}

{% javascript %}
(function() {
  window.changeOption = function (event, optionName) {
    var element = event.target;
    var parent = element.parentNode;
    var siblings = parent.children;
    for (var i = 0; i < siblings.length; i++) {
      var currentSibling = siblings.item(i);
      currentSibling.classList.remove('active');
    }
    element.classList.add('active');
    window.slateplus = window.slateplus || {};
    window.slateplus[optionName] = element.innerText;
  }
})();
{% endjavascript %}

{% schema %}
{
  "name": "Product Options",
  "blocks": [
    {
      "type": "dropdown",
      "name": "Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Option Name"
        }
      ]
    },
    {
      "type": "radios",
      "name": "Radios",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Option Name"
        }
      ]
    },
    {
      "type": "swatches",
      "name": "Swatches",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Option Name"
        }
      ]
    }
  ]
}
{% endschema %}
