.ais-RefinementList-count, .ais-HierarchicalMenu-count {
  display: none;
}

.ais-HierarchicalMenu {
  .ais-HierarchicalMenu-list {
    list-style-type: none;
    padding: 0;
    &.ais-HierarchicalMenu-list--child {
      padding-left: 1rem;
    }
  }

  .ais-HierarchicalMenu-item {
    a {
      text-decoration: none;
    }
    &.ais-HierarchicalMenu-item--selected {
      font-weight: bold;
    }
  }
}

.ais-RefinementList-item label {
  cursor: pointer;
}

.refinementList {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      cursor: pointer;
    }
  }

  span {
    cursor: pointer;
  }

  .sub-refinementList {
    padding-left: 1rem;
  }
}

.collapsible-panel-header {
  &::after {
    content: '+'
  }

  &.open::after {
    content: '-'
  }
}
