/*** Variables ***/

/*** Placeholder classes ***/

/*
* Root of the component
* Every selector goes inside of it
*/
.cart {
  .qty-field {
    width: 80px;
  }
  .note-field {
    resize: none;
  }
  .total {
    font-weight: 400;
  }
}
