/*** Variables ***/


/*** Placeholder classes ***/

/*
* Root of the component
* Every selector goes inside of it
*/
.list-collection {
  @mixin product-grid($size) {
    ul {
      @extend .row;
      li {
        @extend .col-#{12 / $size};
      }
    }
  }

  .product-grid-4 {
    @include product-grid(4);
  }

  .product-grid-3 {
    @include product-grid(3);
  }

  .product-hit {
    height: 100%;
  }

  .sidebar {
    text-transform: uppercase;
  }
}
