* {
  color: $primary;
}

.content {
  @extend .pt-4;
  @extend .pb-4;

  img {
    max-width: 100%;
  }
}

.nav-link {
  text-decoration: none;
}

.btn-filter {
  border-radius: 3px;

  &.active {
    @extend .btn-primary;
  }
}

select {
  text-transform: uppercase;
}

.tape-badge {
  background: $primary;
  color: white;
  position: absolute;
  text-align: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 15rem;
  right: -5rem;
  top: 1.5rem;
  text-transform: uppercase;
}

.oh {
  overflow: hidden;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}

/* Algolia React styles ================================= */
.ais-Hits-list, .ais-RefinementList-list, .ais-Menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ais-Hits-item {
  padding: 1rem;
}

.ais-Menu-item--selected, .ais-RefinementList-item--selected {
  @extend .font-weight-bold;
}

.ais-SortBy-select, .ais-HitsPerPage-select {
  @extend .form-control;
}

.ais-Pagination-list {
  @extend .pagination;
}

.ais-Pagination-item {
  @extend .page-item;
}

.ais-Pagination-link {
  @extend .page-link;
}

.ais-Pagination-item--selected {
  @extend .page-item.active;
}

.ais-Panel-header {
  @extend .h5;
  @extend .mb-3;
}

.ais-Pagination-link {
  border-radius: 50px;
  border: none;
  width: 35px;
  height: 35px;
  margin: 1px;
  text-align: center;
  text-decoration: unset;
}

.ais-RefinementList-checkbox {
  display: none;
}

.ais-Menu-link {
  text-decoration: initial;
}

.ais-Menu-count,
.ais-RefinementList-count {
  color: $gray-400;
  margin-left: 0.5rem;
}

.ais-CurrentRefinements-list {
  padding: 0;
}

.ais-CurrentRefinements-item {
  @extend .badge;
  @extend .badge-pill;
  background: $gray-100;
  border-radius: 20px;
  padding: 3px;
  margin: 3px;
}

.ais-CurrentRefinements-delete {
  background: white;
  border-radius: 20px;
  border: none;
  padding: 5px;
  margin: 3px;
}

.ais-CurrentRefinements-label {
  padding: 0 5px;
}
