/*** Variables ***/


/*** Placeholder classes ***/

.login,
.register,
.reset-password,
.activate-account {
  .errors {
    ul {
      margin: 0;
      padding-left: 1.5rem;
    }
    ul > li {
      color: white;
    }
  }
}
