/*** Variables ***/
$footer-background-color: $primary-background;
$footer-color: $primary;
$footer-link-color: $primary-heading;

/*** Placeholder classes ***/

/*
* Root of the component
* Every selector goes inside of it
*/
footer {
  background-color: $footer-background-color;
  color: $footer-color;
  text-transform: uppercase;

  nav a {
    color: $footer-link-color;
  }
}
