/*** Variables ***/
$announcement-background-color: $primary-background;
$announcement-text-align: center;
$announcement-padding: .5rem;
$announcement-color: $primary;

/*** Placeholder classes ***/

/*
* Root of the component
* Every selector goes inside of it
*/
header {
  border-bottom: 1px dashed $gray-300;

  .announcement-bar {
    color: $announcement-color;
    background-color: $announcement-background-color;
    text-align: $announcement-text-align;
    padding: $announcement-padding;
    text-transform: uppercase;
  }

  .search {
    input:focus {
      border: none;
      box-shadow: none;
    }
    ::placeholder {
      text-transform: uppercase;
      color: $secondary;
    }
  }

  .account {
    &, i {
      color: $secondary;
    }
  }

  .nav-link {
    text-transform: uppercase;
    color: $primary;
  }
}
