.check {
  display: block;
  position: relative;
  padding-left: 2.25rem;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ced4da;
  font-family: 'Font Awesome 5 Free';
  transition: .2s;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #dadada;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #3d8fca;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  content: '\f00c';
  font-size: 0.8rem;
  font-weight: bold;
  height: 10px;
  left: 6px;
  top: 4px;
  width: 5px;
  color: white;
}
