/*** Variables ***/
$product-size-and-color-box-size: 50px;
$product-size-and-color-box-background: $primary;
$product-size-and-color-box-color: white;

/*** Placeholder classes ***/

/*
* Root of the component
* Every selector goes inside of it
*/
.product {
  .size-box, .color-box {
    /*width: $product-size-and-color-box-size;*/
    height: $product-size-and-color-box-size;
    background: $product-size-and-color-box-background;
    color: $product-size-and-color-box-color;
    padding: 0.75rem;
    margin: 0.25rem;
    transition: 0.2s;

    &.active {
      box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }
}
