/*** Variables ***/

/*** Placeholder classes ***/

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
}
