<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {{ content_for_header }}
  {{ 'theme.layout.css' | asset_url | stylesheet_tag }}

  {%- if settings.scripts_gtm_use and settings.scripts_gtm_head -%}
    {{ settings.scripts_gtm_head }}
  {%- endif -%}
</head>
  <body>
    {%- if settings.scripts_gtm_use and settings.scripts_gtm_body -%}
      {{ settings.scripts_gtm_body }}
    {%- endif -%}

    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
    {{ 'https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js' | script_tag }}
    {{ 'https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.min.js' | script_tag }}
    {{ 'runtime.js' | asset_url | script_tag }}
    {{ 'vendors.js' | asset_url | script_tag }}
    {% include 'script-tags' %}
  </body>
</html>
